.bailer {
    position: absolute;
    top: 210px;
    left: 700px;
    width: 90px;
    height: 80px;
    background-image: linear-gradient(to right,#8C8C8C 69%, #A0A0A0 70%, #A0A0A0 85%, #8C8C8C 86%);
    border-radius: 200px / 50px;
    z-index: 2;
    transition: 1.5s;
    transform: scale(1.3);


    &:after {
        content: '';
        position: absolute;
        width: 90px;
        height: 20px;
        background: #A0A0A0 radial-gradient(ellipse, #606060 40%, transparent 41%);
        top: 0px;
        left: 0px;
        border-radius: 200px / 50px;
        box-sizing: border-box;
    }

    &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: 25px;
        left: 87px;
        border-radius: 0 50% 50% 0;
        box-sizing: border-box; 
        box-shadow: 0 0 0 10px #8C8C8C;
    }

    &-nose {
        position: absolute;
        top: -20px;
        left: -35px;
        width: 15px;
        height: 100px;
        background: #8C8C8C;
        border-radius: 20px/15px;
        transform: rotate(-50deg);
        z-index: 2;

        &:before {
            content: '';
            position: absolute;
            width: 13px;
            height: 5px;
            background: #606060;
            top: 0px;
            left: 0px;
            border-radius: 10px/5px;
            border: 1px solid #8C8C8C;
        }
    }
}

.water {
    position: absolute;
    top: -34px;
    left: -160px;
    height: 140px;
    width: 50px;
    background-image: linear-gradient(to bottom, rgba(89, 179, 184, 0.5) 70%, rgba(89, 179, 184, 0)100%);
    border-radius: 89% 5% 0 0;
    transform: skew(-20deg) rotate(40deg);
    opacity: 0;
    transition: 3s;
}

.shelf--right:hover ~ .bailer {
    transform: rotate(-50deg) translate(-49px, -255px) scale(1.3);

    & .water {
        opacity: 1;
    }
}

@media (max-width: 860px) {
    .bailer {
        left: auto;
        right: 100px;
    }

    .shelf--right:hover ~ .bailer {
        transform: rotate(0deg) translate(0, 0) scale(1.3);
    
        & .water {
            opacity: 0;
        }
    }
    
}

@media (max-width: 620px) {
    .bailer {
        display: none;
    }
}