.calendar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 180px;
    background-image: linear-gradient(to bottom, #ED5C5C 40px, #FCF8EF 41px);
    box-shadow:-2px 1px 0px 0px #bbbbbb,-4px 2px 0px 0px #afafaf, -6px 3px 0px 0px #a7a6a6;
    transform: rotate(0deg) translate(-50%, -50%);

    &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: #565451;
        top: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 3px;
    }

    &:hover {
        animation: wiggle 1s ease-in-out; 
        transform-origin: 0% -50%;
    }
}

.month {
    font-size: 24px;
    text-align: center;
    color: #565451;
    font-weight: bold;
}

.day {
    margin-top: 50px;
    font-size: 70px;
    text-align: center;
    color: #565451;
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg) translate(-50%, -50%);
        animation-timing-function: ease-out;
    }
    25% {
        transform: rotate(-20deg) translate(-50%, -50%);
        animation-timing-function: ease-in;
    }
    43% {
        transform: rotate(0deg) translate(-50%, -50%);
        animation-timing-function: ease-out;
    }
    63% {
        transform: rotate(10deg) translate(-50%, -50%);
        animation-timing-function: ease-in;
    }
    75% {
        transform: rotate(0deg) translate(-50%, -50%);
        animation-timing-function: ease-out;
    }
    88% {
        transform: rotate(-7deg) translate(-50%, -50%);
        animation-timing-function: ease-in;
    }
    100% {
        transform: rotate(0deg) translate(-50%, -50%);
        animation-timing-function: ease-out;
    }
}