.sticker {
    position: absolute;
    top: 270px;
    left: 340px;
    width: 50px;
    height: 50px;
    background: #FFEBA3;
    border-radius: 0 0 0 25px/10px;
    overflow: hidden;
    padding: 12px 10px;
    font-style: italic;
    font-size: 8px;
    color: rgb(68, 68, 68);
    box-sizing: border-box;
    transform: scale(1.3);
    
    &:before {
        content: '';
        position: absolute;
        left: -4px;
        bottom: -3px;
        width: 16px;
        height: 10px;
        background: #f7d970;
        transform: rotate(56deg);
    }

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 5px;
        width: 4px;
        height: 4px;
        background: #c02222;
        border-radius: 50%;
        transform: translate(-50%, 0);
    }

    @media (max-width: 860px) {
        left: 135px;
    }
    
    @media (max-width: 620px) {
        top: 210px;
    }
    
    @media (max-width: 420px) {
        transform: scale(1) translate(0, 15px);
    }
}

