.ufo {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0) scale(0.9);
    width: 136px;
    height: 90px;
    border-radius: 72px/52px;
    background-color: #DAE9EF;
    z-index: 2;

    &:before {
        content: '';
        position: absolute;
        top: 33px;
        left: 50%;
        transform: translate(-50%, 0%) scale(1.3);
        width: 200px;
        height: 53px;
        border-radius: 98px/26px;
        background-image: radial-gradient( #223847 60%, #28475c 61%); 
        background-position: 50% 0%; 
        background-size: 235px 57px;
        background-repeat: no-repeat;
    }

    &:after {
        content: '';
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 40px;
        border-radius: 115px/32px;
        background-color: #315369;
        background-image: radial-gradient(#ffffff 40%, #315369 42%);
        background-position: 50% 3px;
        /* background-size: 250px 50px; */
        background-repeat: no-repeat;
    }
}

.wood {
    position: absolute;
    bottom: 28%;
    right: 130px;
    width: 100px;
    height: 100px;
    transform: rotate(45deg) scale(0.4);
    background: #0e382f;
    box-shadow: 45px 47px 0 20px #0e382f, 100px 106px 0 40px #0e382f, 159px 165px 0 50px #0e382f;

    &--1 {
        bottom: 50%;
        left: 53px;
        background: #0a2921;
        transform: rotate(55deg) skew(20deg) scale(0.3);
        box-shadow: 45px 47px 0 20px #0a2921, 100px 106px 0 40px #0a2921, 159px 165px 0 50px #0a2921;

        &.wood--right {
            right: 53px;
        }
    }
    &--2 {
        bottom: 50%;
        left: -30px;
        transform: rotate(60deg) skew(30deg) scale(0.35);
        background: #08241d;
        box-shadow: 45px 47px 0 20px #08241d, 100px 106px 0 40px #08241d, 159px 165px 0 50px #08241d;

        &.wood--right {
            right: -30px;
        }
    }
    &--3 {
        bottom: 45%;
        left: 15px;
        transform: rotate(60deg) skew(30deg) scale(0.35);
        background: #0d3a2f;
        box-shadow: 45px 47px 0 20px #0d3a2f, 100px 106px 0 40px #0d3a2f, 159px 165px 0 50px #0d3a2f;

        &.wood--right {
            right: 15px;
        }
    }
    &--4 {
        left: -20px;
        bottom: 40%;
        transform: rotate(55deg) skew(20deg) scale(0.4);
        background: #0a3026;
        box-shadow: 45px 47px 0 20px #0a3026, 100px 106px 0 40px #0a3026, 159px 165px 0 50px #0a3026;

        &.wood--right {
            right: -25px;
        }
    }
    &--5 {
        bottom: 43%;
        left: 90px;
        background: #114b46;
        transform: rotate(51deg) skew(15deg) scale(0.35);
        box-shadow: 45px 47px 0 20px #114b46, 100px 106px 0 40px #114b46, 159px 165px 0 50px #114b46;

        &.wood--right {
            right: 100px;
        }
    }
    &--6 {
        bottom: 35%;
        left: 90px;
        background: #0C352C;
        transform:  rotate(50deg) skew(5deg) scale(0.4);
        box-shadow: 45px 47px 0 20px #0C352C, 100px 106px 0 40px #0C352C, 159px 165px 0 50px #0C352C;

        &.wood--right {
            right: 70px;
        }
    }
    &--7 {
        left: 55px;
        background: #092821;
        transform: rotate(45deg) scale(0.45);
        box-shadow: 45px 47px 0 20px #092821, 100px 106px 0 40px #092821, 159px 165px 0 50px #092821;

        &.wood--right {
            right: 30px;
        }
    }
    &--8 {
        bottom: 23%;
        left: -23px;
        background: #0F3F34;
        transform: rotate(55deg) skew(20deg) scale(0.45);
        box-shadow: 45px 47px 0 20px #0F3F34, 100px 106px 0 40px #0F3F34, 159px 165px 0 50px #0F3F34;

        &.wood--right {
            right: -23px;
        }
    }
    &--9 {
        bottom: 15%;
        left: 20px;
        background: #0C352C;
        transform:  rotate(47deg) scale(0.55);
        box-shadow: 45px 47px 0 20px #0C352C, 100px 106px 0 40px #0C352C, 159px 165px 0 50px #0C352C;

        &.wood--right {
            right: 0px;
        }
    }

    &--right {
        left: auto;
    }
}

.field {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 60%;
    background: #56746c;
    clip-path: polygon(50% 4%, 67% 1%, 77% 5%, 90% 5%, 100% 9%, 100% 100%, 0 100%, 0 11%, 15% 10%, 33% 8%);

    &:before {
        content: '';
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 55vh;
        background-image: linear-gradient(to top, #4D6D23 50%, #3e581c 100%);
        clip-path: polygon(46% 10%, 60% 6%, 77% 5%, 90% 1%, 100% 0, 100% 100%, 0 100%, 0 0, 15% 3%, 30% 8%);
    }
}

.cow {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 80px;
    height: 50px;
    transform: translate(-50%, 0%);
    background: url('../../img/icons/cow.png') 50% 50% no-repeat;
    background-size: contain;
}

.ufo__light {
    position: absolute;
    top: 75px;
    left: 50%;
    width: 350px;
    height: 370px; 
    transform: translate(-50%, 0);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, transparent 100%); 
	border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-radius: 200px/100px;
    z-index: 5;
    clip-path: polygon(157px 0px, 232px 0, 396px 375px, -88px 566px);
    transition: 2s;
    opacity: 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 250px;
        height: 365px;
        transform: translate(-50%, 0);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.1) 100%); 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-radius: 200px/100px;
        z-index: 3;
        clip-path: polygon(108px 0px, 182px 4px, 279px 382px, -92px 760px);
    }
}

@keyframes ufo-leave {
    10% {
        transform: translate(-50%, 20%);
    }
    30%{
        transform: translate(-50%, 20%);
    }
    33%{
        transform: translate(-56%, 1%) scale(0.3);
    }
    34%{
        transform: translate(45vw, -11vh) scale(0.1);
    }
    45%{
        transform: translate(45vw, -11vh) scale(0.1);
    }
    48%{
        transform: translate(-50%, 0) scale(0.9);
    }
}

@keyframes ufo-light {
    10%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    29%{
        opacity: 0;
    }
}

@keyframes cow-abduction {
    20% {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
    25% {
        transform: translate(-50%, -320px) rotate(60deg);
        opacity: 0;
    }
    26%{
        transform: translate(500px, 0);
    }
    35%{
        opacity: 1;
        transform: translate(500px, 0);
        animation-timing-function: linear;
    }
    40% {
        transform: translate(-50%, 0);
        animation-timing-function: linear;
    }
}

.container--ufo:hover {
    .ufo {
        animation: ufo-leave 40s infinite; 
    }
    .ufo__light {
        animation: ufo-light 40s infinite; 
    }
    .cow {
        animation: cow-abduction 40s infinite; 
    }
}

@media (max-width: 620px) {
    .wood {
        display: none;
    }
}

