@font-face {
    font-family: 'Poiret One';
    src: local('Poiret One'), local('PoiretOne-Regular'), url('poiretone.woff2') format('woff2'), url('poiretone.woff') format('woff'), url('poiretone.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
