/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

hr {
  margin: 0;
  height: 1px;
  background-color: #e1e1e1;
  border: none; }

.card-tag {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  color: #777777;
  text-transform: initial;
  border: 1px solid #777777; }
  .card-tag:hover {
    background: black;
    color: white;
    border: 1px solid black; }

a {
  text-decoration: none;
  color: black; }

.main-header {
  max-height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  padding: 20px 0;
  box-shadow: 0 -5px 10px 0px black;
  z-index: 3;
  box-sizing: border-box; }
  .main-header .container {
    display: flex;
    justify-content: space-between; }
  .main-header svg {
    position: absolute;
    top: 11px;
    left: 11px;
    fill: #777777; }
    .main-header svg:active {
      fill: white; }
  .main-header .search__input {
    display: none; }
  @media (max-width: 770px) {
    .main-header {
      max-height: 60px;
      padding: 10px 0; }
      .main-header__logo {
        width: 90px;
        height: 20px;
        margin-top: 5px;
        margin-right: 40px; } }
  @media (max-width: 450px) {
    .main-header__logo {
      margin-right: 0;
      margin-left: 20px; } }

.main-nav {
  display: flex;
  align-items: center; }
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    min-width: 590px;
    list-style: none;
    padding-left: 0;
    margin: 0; }
  .main-nav .link {
    display: block;
    margin: 11px 25px; }
  .main-nav .link.active {
    position: relative; }
    .main-nav .link.active::before {
      content: "";
      position: absolute;
      display: block;
      width: 15px;
      height: 1px;
      background: black;
      left: -30px;
      top: 50%; }
  @media (max-width: 770px) {
    .main-nav__list {
      min-width: 490px; }
    .main-nav .link {
      font-size: 12px;
      margin: 11px 15px; } }
  @media (max-width: 700px) {
    .main-nav {
      display: none;
      position: absolute;
      top: 53px;
      left: 0;
      width: 100%; }
      .main-nav .container {
        max-width: 100%; }
      .main-nav__list {
        display: block;
        min-width: 100%; }
      .main-nav .link,
      .main-nav .search {
        margin: 0;
        padding: 20px 0;
        border-top: 2px solid #e2e2e2;
        text-align: center;
        font-size: 16px;
        background: #fafafa; }
      .main-nav .search {
        padding: 10px; }
        .main-nav .search__input {
          display: block;
          width: 85%; }
      .main-nav.active-main-nav {
        display: block; } }

.main-footer {
  padding-top: 65px;
  box-shadow: 0 0 10px 1px #e1e1e1;
  text-align: center; }
  .main-footer__logo {
    width: 130px;
    margin: 0 auto;
    margin-bottom: 40px; }
  @media (max-width: 450px) {
    .main-footer {
      padding-top: 30px; }
      .main-footer__logo {
        margin-bottom: 30px; } }

.socials {
  margin-bottom: 35px; }
  .socials__list {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    list-style: none; }
  .socials__link {
    display: block;
    width: 70px;
    height: 60px;
    transition: 0.5s; }
    .socials__link--facebook {
      background: url(../img/icons-png/facebook.png) 50% 50% no-repeat;
      background-size: 20px 20px;
      opacity: 0.7; }
    .socials__link--gmail {
      background: url(../img/icons-png/google.png) 50% 50% no-repeat;
      background-size: 20px 20px;
      opacity: 0.7; }
    .socials__link--twitter {
      background: url(../img/icons-png/twitter.png) 50% 50% no-repeat;
      background-size: 20px 20px;
      opacity: 0.7; }
    .socials__link--in {
      background: url(../img/icons-png/linkedin.png) 50% 50% no-repeat;
      background-size: 18px 18px;
      opacity: 0.7; }
    .socials__link--basketball {
      background: url(../img/icons-png/basketball.png) 50% 50% no-repeat;
      background-size: 20px 20px;
      opacity: 0.7; }
    .socials__link--pinterest {
      background: url(../img/icons-png/pinterest.png) 50% 50% no-repeat;
      background-size: 20px 20px;
      opacity: 0.7; }
    .socials__link--instagram {
      background: url(../img/icons-png/instagram.png) 50% 50% no-repeat;
      background-size: 20px 20px;
      opacity: 0.7; }
    .socials__link:hover {
      opacity: 0.5; }
    .socials__link:active {
      opacity: 1; }
  @media (max-width: 500px) {
    .socials {
      margin-bottom: 20px; }
      .socials__list {
        max-width: 100%; }
      .socials__link {
        width: 40px;
        background-size: 10px 10px; } }

.copyrigh-text {
  display: inline-block;
  height: 13px;
  margin: 0 auto;
  margin-bottom: 45px;
  font-size: 13px;
  color: #777777;
  font-weight: normal; }
  .copyrigh-text--black {
    color: black; }
  @media (max-width: 450px) {
    .copyrigh-text {
      font-size: 10px;
      margin-bottom: 20px; } }

body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase; }

.container {
  max-width: 1140px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .container {
      max-width: 900px; } }
  @media (max-width: 1000px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 770px) {
    .container {
      max-width: 100%;
      padding: 0 40px; } }
  @media (max-width: 450px) {
    .container {
      padding: 0 20px; } }

.main {
  background: #fafafa; }

.blog-container {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 770px) {
    .blog-container {
      display: block; } }

.link {
  color: #777777;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none; }
  .link:hover {
    color: #4a4a4a; }
  .link:active {
    color: black; }

.active {
  color: black; }

.search {
  box-sizing: border-box; }
  .search__input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; }
  .search__input {
    padding: 8px;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 5px; }
    .search__input:focus {
      outline: none; }
  .search__btn {
    position: relative;
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    border-radius: 2px; }
    .search__btn:hover {
      background: #e1e1e1; }
    .search__btn:active {
      background: #777777; }
    .search__btn:focus {
      outline: none; }
  .search--page {
    height: 60px;
    padding: 0 10px;
    margin-bottom: 25px;
    background: white;
    display: flex;
    align-items: center; }
    .search--page .search__input-wrapper {
      width: 100%; }
    .search--page .search__input {
      border: none; }
    .search--page .search__btn {
      background: #777777; }
      .search--page .search__btn:hover {
        background: #cccccc; }
      .search--page .search__btn:active {
        background: white; }

.intro {
  width: 100%;
  height: 100vh;
  background: url("../img/intro-background.jpg") no-repeat 0 0;
  background-size: cover;
  text-align: center; }
  .intro__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; }
    .intro__container--portfolio, .intro__container--about, .intro__container--blog, .intro__container--contact, .intro__container--article {
      align-items: flex-start;
      height: 440px; }
  .intro .main-title {
    margin-bottom: 35px; }
  .intro--portfolio, .intro--about, .intro--blog, .intro--contact, .intro--article {
    background: #e2e2e2 url("../img/portfolio-intro-bg.jpg") no-repeat 100% 100%;
    background-size: 500px 350px;
    height: 440px; }
    .intro--portfolio .main-title, .intro--about .main-title, .intro--blog .main-title, .intro--contact .main-title, .intro--article .main-title {
      margin-top: 80px; }
  .intro--about, .intro--contact {
    margin-bottom: 70px;
    background: #e1e1e1 url("../img/about-intro-bg.png") no-repeat 100% -10%; }
    @media (max-width: 770px) {
      .intro--about, .intro--contact {
        background-size: 800px 500px; } }
  .intro--contact {
    margin-bottom: 0; }
  .intro--blog, .intro--article {
    margin-bottom: 70px;
    background: #f6f6f8 url("../img/blog-intro-bg.jpg") no-repeat 90% 0%; }
  @media (max-width: 770px) {
    .intro--about .main-title, .intro--portfolio .main-title, .intro--blog .main-title, .intro--article .main-title, .intro--contact .main-title {
      font-size: 36px; }
    .intro--about .sub-title, .intro--portfolio .sub-title, .intro--blog .sub-title, .intro--article .sub-title, .intro--contact .sub-title {
      font-size: 17px; } }
  @media (max-width: 450px) {
    .intro:not(.intro--home) {
      height: 300px;
      background: linear-gradient(to right, #e2e2e2, white); }
      .intro:not(.intro--home) .main-title,
      .intro:not(.intro--home) .sub-title {
        margin-top: 0;
        width: auto;
        padding: 5px 10px; }
    .intro__container {
      align-items: center;
      height: 300px; }
      .intro__container--home {
        height: 100vh; }
    .intro--home {
      background: url("../img/intro-background.jpg") no-repeat 100% 0%;
      background-size: cover; }
    .intro--about, .intro--article {
      margin-bottom: 0; }
    .intro--blog {
      margin-bottom: 30px; }
    .intro .main-title {
      font-size: 23px; }
    .intro .sub-title {
      font-size: 14px; }
    .intro .sub-title {
      background: white; } }

.main-title {
  display: inline-block;
  margin: 0;
  background: black;
  color: white;
  padding: 0 40px;
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: 3px; }
  @media (max-width: 450px) {
    .main-title {
      padding: 5px 0;
      width: 100%; }
      .main-title-wrapper {
        width: 100%; } }

.title {
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 10px; }
  @media (max-width: 770px) {
    .title {
      font-size: 23px;
      margin-bottom: 25px; } }
  @media (max-width: 450px) {
    .title {
      font-size: 20px;
      letter-spacing: 7px; } }

.sub-title {
  display: inline-block;
  margin: 0;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 3px; }
  @media (max-width: 450px) {
    .sub-title {
      font-weight: normal;
      width: 100%;
      padding: 3px 0; } }

.slider {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%, 0); }
  .slider__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px; }
  .slider__btn {
    display: none; }
  .slider input[type="radio"]:checked + .slider__decor {
    border: 4px solid black; }
  .slider__decor {
    display: block;
    width: 7px;
    height: 7px;
    top: 0;
    left: 0;
    background: white;
    border: 4px solid white;
    border-radius: 50%; }

.load-more-btn,
.submit-btn {
  display: block;
  background: #777777;
  color: white;
  padding: 7px 25px;
  border: none;
  font-size: 13px;
  text-transform: uppercase;
  transition: 0.5s; }
  .load-more-btn:hover,
  .submit-btn:hover {
    color: #777777;
    background: linear-gradient(to right, transparent 0%, #e1e1e1 50%, #e1e1e1 50%, transparent 100%); }
  .load-more-btn:focus,
  .submit-btn:focus {
    outline: none; }
  .load-more-btn:active,
  .submit-btn:active {
    color: black; }

.post-like__btn {
  position: relative;
  top: 2px;
  background: none;
  border: none;
  outline: none; }
  .post-like__btn svg {
    fill: #4a4a4a; }
    .post-like__btn svg:hover {
      fill: #777777; }
    .post-like__btn svg:active {
      fill: red; }

.post-like__text {
  color: #4a4a4a;
  font-weight: bold; }

.submit-btn {
  background: black;
  padding: 10px 50px; }

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  transition: 0.5s; }
  .close-btn::before, .close-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 17px;
    width: 1px;
    background: #e1e1e1;
    transform: translate(-50%, -50%) rotate(45deg); }
  .close-btn::after {
    transform: translate(-50%, -50%) rotate(135deg); }
  .close-btn:hover {
    background: #f6f6f8; }
  .close-btn:active {
    background: #e1e1e1; }
    .close-btn:active::before, .close-btn:active::after {
      background: #e2e2e2; }
  .close-btn:focus {
    outline: none; }

.arrow-btn {
  display: none; }
  @media (max-width: 1200px) {
    .arrow-btn {
      display: block;
      position: absolute;
      width: 30px;
      height: 41px;
      top: 50%;
      left: 10%;
      transform: translate(-50%, -50%);
      background: none;
      border: none; }
      .arrow-btn:focus {
        outline: none; }
      .arrow-btn::before, .arrow-btn::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 25px;
        top: 0;
        left: 50%;
        background: #777777;
        transform: translate(0, 0) rotate(45deg); }
      .arrow-btn::after {
        top: 100%;
        transform: translate(0, -95%) rotate(-45deg); }
      .arrow-btn:hover::before, .arrow-btn:hover::after {
        background: #4a4a4a; }
      .arrow-btn--right {
        left: 90%;
        transform: translate(-50%, -50%); }
        .arrow-btn--right::before {
          transform: translate(0, 0) rotate(-45deg); }
        .arrow-btn--right::after {
          transform: translate(0, -95%) rotate(45deg); } }
  @media (max-width: 450px) {
    .arrow-btn {
      top: 50%;
      left: 50%; }
      .arrow-btn--right {
        left: 60%; } }

.list-btn {
  display: none; }
  @media (max-width: 700px) {
    .list-btn {
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 20px;
      margin-top: 3px;
      background-color: none;
      border: none;
      background: url("../img/icons-png/list.png") 50% 50% no-repeat;
      background-size: contain;
      opacity: 0.7; }
      .list-btn:focus {
        outline: none; }
      .list-btn:hover {
        opacity: 0.8; }
      .list-btn:active {
        opacity: 1; } }

.text-input,
.email-input,
.site-input,
.text-area {
  width: 49%;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #e2e2e2;
  box-sizing: border-box; }
  .text-input::-webkit-input-placeholder,
  .email-input::-webkit-input-placeholder,
  .site-input::-webkit-input-placeholder,
  .text-area::-webkit-input-placeholder {
    font-size: 16px;
    color: #cccccc;
    font-style: italic; }
  .text-input::-moz-placeholder,
  .email-input::-moz-placeholder,
  .site-input::-moz-placeholder,
  .text-area::-moz-placeholder {
    font-size: 16px;
    color: #cccccc;
    font-style: italic; }
  .text-input:-ms-input-placeholder,
  .email-input:-ms-input-placeholder,
  .site-input:-ms-input-placeholder,
  .text-area:-ms-input-placeholder {
    font-size: 16px;
    color: #cccccc;
    font-style: italic; }
  .text-input::-ms-input-placeholder,
  .email-input::-ms-input-placeholder,
  .site-input::-ms-input-placeholder,
  .text-area::-ms-input-placeholder {
    font-size: 16px;
    color: #cccccc;
    font-style: italic; }
  .text-input::placeholder,
  .email-input::placeholder,
  .site-input::placeholder,
  .text-area::placeholder {
    font-size: 16px;
    color: #cccccc;
    font-style: italic; }
  .text-input:focus,
  .email-input:focus,
  .site-input:focus,
  .text-area:focus {
    outline: none;
    border-left: 3px solid #e2e2e2; }

.text-area {
  display: block;
  width: 100%; }

.bread-crumbs {
  margin: 30px 0; }
  .bread-crumbs__list {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin: 0 auto;
    padding: 0;
    list-style: none; }
  .bread-crumbs__item {
    position: relative; }
    .bread-crumbs__item:not(:first-of-type)::before {
      content: "";
      position: absolute;
      display: block;
      width: 1px;
      height: 30px;
      background: #e1e1e1;
      left: -10px;
      top: 50%;
      transform: translate(0, -50%) rotate(20deg); }
  .bread-crumbs .link {
    display: inline-block;
    padding: 15px; }
    .bread-crumbs .link:active {
      background: linear-gradient(to right, transparent 0%, #e1e1e1 50%, #e1e1e1 50%, transparent 100%); }
  @media (max-width: 770px) {
    .bread-crumbs .link {
      font-size: 12px; }
    .bread-crumbs__list {
      width: 100%; }
    .bread-crumbs__item:not(:first-of-type)::before {
      left: -15px; } }
  @media (max-width: 600px) {
    .bread-crumbs .link {
      position: relative;
      top: 50%;
      transform: translate(0, -50%); }
    .bread-crumbs__list {
      overflow: scroll; }
    .bread-crumbs__item:not(:first-of-type)::before {
      left: -5px; } }

.card {
  position: relative;
  display: block;
  width: calc(100% / 3 - 20px);
  background: #e1e1e1 no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 30px;
  box-sizing: border-box;
  transition: 0.8s; }
  .card:hover {
    transform: scale(1.05); }
  .card__inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
    .card__inner:hover {
      background: black;
      opacity: 0.5;
      transition: 0.8s; }
      .card__inner:hover::before, .card__inner:hover::after {
        content: "";
        position: absolute;
        display: block;
        width: 2px;
        height: 40px;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .card__inner:hover::after {
        transform: translate(-50%, -50%) rotate(90deg); }
  .card--landscape {
    height: 250px; }
  .card--book {
    height: 450px; }
  .card--square {
    height: 350px; }
  @media (max-width: 770px) {
    .card {
      width: calc(100% / 2 - 20px); } }
  @media (max-width: 450px) {
    .card {
      width: 100%; } }

.album {
  padding-bottom: 75px; }
  .album .load-more-btn {
    margin: 0 auto; }

.page-nav {
  background: white; }
  .page-nav .container {
    position: relative;
    display: flex;
    justify-content: flex-start; }
  .page-nav__btn {
    position: relative;
    display: inline-block;
    padding: 20px 0;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    color: black;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: 0.5s; }
    .page-nav__btn:hover {
      opacity: 0.7; }
    .page-nav__btn:active {
      color: black;
      background: linear-gradient(to right, transparent 0%, #e1e1e1 50%, #e1e1e1 50%, transparent 100%); }
    .page-nav__btn--previous {
      padding-left: 55px;
      padding-right: 38px; }
      .page-nav__btn--previous::before, .page-nav__btn--previous::after {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 6px;
        background: black;
        left: 37px;
        top: 50%;
        transform: translate(0, -1px) rotate(135deg); }
      .page-nav__btn--previous::after {
        transform: translate(0, -5px) rotate(45deg); }
    .page-nav__btn--next {
      padding-left: 53px;
      padding-right: 75px;
      border-left: none; }
      .page-nav__btn--next::before, .page-nav__btn--next::after {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 6px;
        background: black;
        right: 55px;
        top: 50%;
        transform: translate(0, -1px) rotate(45deg); }
      .page-nav__btn--next::after {
        transform: translate(0, -5px) rotate(135deg); }
    .page-nav__btn--show-all {
      position: absolute;
      right: 0;
      padding-left: 75px;
      padding-right: 45px; }
      .page-nav__btn--show-all::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 100%;
        top: 0;
        left: 40px;
        background: url("../img/icons-png/list.png") 50% 50% no-repeat;
        background-size: 13px 13px; }
  @media (max-width: 600px) {
    .page-nav .container {
      justify-content: space-between; }
    .page-nav__btn {
      padding: 15px;
      font-size: 12px;
      flex-grow: 1;
      border-left: none; }
      .page-nav__btn--previous {
        padding-left: 20px;
        padding-right: 10px; }
        .page-nav__btn--previous::before, .page-nav__btn--previous::after {
          left: 15px; }
      .page-nav__btn--next {
        padding-right: 20px;
        padding-left: 10px; }
        .page-nav__btn--next::before, .page-nav__btn--next::after {
          right: 15px; }
      .page-nav__btn--show-all {
        position: relative;
        right: auto;
        padding-left: 35px; }
        .page-nav__btn--show-all::before {
          left: 10px; } }

.post {
  margin-bottom: 135px;
  padding-top: 70px;
  display: flex;
  justify-content: space-between; }
  .post__content {
    max-width: 48%; }
  .post__title {
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 4px; }
  .post__description {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    color: #777777;
    text-transform: capitalize; }
    .post__description--bold {
      display: inline-block;
      font-weight: bold;
      color: #4a4a4a;
      margin-bottom: 25px; }
  .post__main {
    padding-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 40px;
    font-size: 14px;
    text-transform: initial;
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1; }
  .post__date {
    display: inline;
    color: #4a4a4a;
    padding-right: 80px;
    font-weight: bold; }
  .post__like {
    display: inline-block; }
  .post__text {
    padding-top: 30px;
    color: #777777;
    font-weight: normal;
    line-height: 2em;
    letter-spacing: 0.5px; }
  .post__meta {
    padding-bottom: 50px; }
  .post__sub-title {
    display: block;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold; }
  .post__images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 48%;
    align-content: flex-start; }
  .post__img {
    display: block;
    background-color: #e1e1e1;
    transition: 0.5s;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%; }
    .post__img:hover {
      -webkit-filter: brightness(50%);
              filter: brightness(50%); }
    .post__img--big {
      width: 100%;
      height: 350px;
      margin-bottom: 10px; }
    .post__img--small {
      width: calc(100% / 4 - 8px);
      height: 115px; }
  @media (max-width: 770px) {
    .post {
      display: block; }
      .post__content, .post__images {
        max-width: 100%; }
      .post__img--small:not(:last-of-type) {
        margin-right: 10px; } }
  @media (max-width: 450px) {
    .post {
      margin-bottom: 30px;
      padding: 20px; }
      .post__title {
        font-size: 25px;
        margin-top: 10px;
        line-height: 1.5em; }
      .post__main {
        padding-bottom: 20px;
        margin-bottom: 15px; }
      .post__date {
        padding-right: 25px; }
      .post__text {
        padding-top: 10px; }
      .post__meta {
        padding: 15px 0; }
      .post__description {
        line-height: 2em; }
      .post__img--big {
        height: 230px; }
      .post__img--small {
        height: 100px; } }

.share {
  display: flex;
  align-items: center; }
  .share__btn {
    padding: 15px 15px;
    background-color: #777777;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 4px; }
  .share__socials {
    position: relative;
    margin-bottom: 0;
    margin-left: 15px;
    display: inline-block;
    width: 315px;
    justify-content: center;
    background-color: #e1e1e1;
    border-radius: 4px; }
    .share__socials .socials__link {
      width: 45px;
      height: 45px; }
    .share__socials::before {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background: #e1e1e1;
      top: 50%;
      left: -5px;
      transform: translate(0, -50%) rotate(45deg);
      z-index: 0; }
  @media (max-width: 770px) {
    .share {
      margin-bottom: 40px; } }
  @media (max-width: 450px) {
    .share {
      position: relative;
      margin-bottom: 20px; }
      .share__btn {
        margin: 0 auto; }
        .share__btn:hover + .share__socials {
          display: block; }
      .share__socials {
        display: none;
        position: absolute;
        width: 100%;
        margin-left: 0;
        top: -60px;
        left: 0; }
        .share__socials::before {
          top: 90%;
          left: 50%;
          transform: translate(-50%, 0) rotate(45deg); }
        .share__socials .socials__item {
          flex-grow: 1; }
        .share__socials .socials__link {
          width: 35px;
          height: 45px;
          background-size: 13px 13px; } }

.related-works {
  padding-bottom: 70px;
  text-align: center; }
  .related-works__text {
    padding-bottom: 50px;
    color: #777777;
    text-transform: initial;
    font-weight: normal;
    line-height: 2em;
    letter-spacing: 0.5px; }
  .related-works__card {
    height: 250px;
    width: 350px; }
  @media (max-width: 770px) {
    .related-works__card {
      margin: 0 190px; } }
  @media (max-width: 450px) {
    .related-works__text {
      padding: 0 20px; } }

.about-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px; }
  .about-us__img {
    width: 530px;
    height: 600px;
    background: #e1e1e1 url(../img/about-us-bg.jpg) no-repeat 80% 50%;
    background-size: cover; }
  .about-us__content {
    width: 550px; }
  .about-us__title {
    display: block;
    font-size: 18px;
    letter-spacing: 5px;
    margin-bottom: 35px; }
  .about-us__text {
    padding-bottom: 30px;
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    text-transform: initial;
    line-height: 2em;
    letter-spacing: 0.5px; }
  @media (max-width: 1200px) {
    .about-us {
      display: block; }
      .about-us__img {
        width: 100%;
        height: 400px;
        margin-bottom: 20px; }
      .about-us__text {
        padding-bottom: 15px; }
      .about-us__content {
        width: 100%; } }
  @media (max-width: 450px) {
    .about-us__img {
      height: 250px; }
    .about-us__title, .about-us__text {
      margin: 0 20px; }
    .about-us__title {
      margin-bottom: 20px;
      font-size: 17px; }
    .about-us__text {
      font-size: 14px;
      margin-bottom: 15px; } }

.range__title {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize; }

.range__inner {
  display: block;
  width: 100%;
  height: 10px;
  padding-top: 4px;
  padding-left: 4px;
  margin-bottom: 20px;
  background-color: #e1e1e1;
  box-sizing: border-box; }

.range__line {
  position: relative;
  display: block;
  height: 2px;
  background-color: #777777; }
  .range__line::before {
    content: attr(data-value);
    position: absolute;
    color: white;
    background: black;
    padding: 6px 8px;
    top: -50px;
    right: 0;
    transform: translate(100%, 0);
    font-size: 12px;
    transition: 0.3s;
    opacity: 0; }
  .range__line::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: linear-gradient(to right bottom, black 50%, transparent 50%);
    top: -25px;
    right: 0;
    transform: translate(100%, 0);
    transition: 0.3s;
    opacity: 0; }

.range:hover .range__line::before {
  opacity: 1; }

.range:hover .range__line::after {
  opacity: 1; }

.range__decor {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: white;
  border: 4px solid black;
  border-radius: 50%;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%); }

@media (max-width: 450px) {
  .range {
    width: 88%;
    margin-left: 20px; }
    .range__title {
      font-size: 14px; } }

.team {
  text-align: center;
  padding-bottom: 75px; }
  .team__text {
    width: 60%;
    padding-bottom: 60px;
    margin: 0 auto;
    color: #777777;
    font-weight: normal;
    text-transform: initial;
    line-height: 2em;
    letter-spacing: 0.5px; }
  @media (max-width: 770px) {
    .team__text {
      width: 100%; } }
  @media (max-width: 450px) {
    .team__text {
      font-size: 14px;
      width: 90%; } }

.person-card {
  min-width: 320px;
  max-width: 340px;
  background: white; }
  .person-card__photo-wrapper {
    height: 420px;
    padding-top: 20px;
    background: #e1e1e1;
    transition: 0.5s;
    box-sizing: border-box; }
    .person-card__photo-wrapper:hover {
      background: #777777; }
  .person-card__photo {
    width: 100%;
    height: 400px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: 50% 50%;
       object-position: 50% 50%; }
  .person-card__info {
    height: 250px;
    padding: 30px 35px;
    text-align: left;
    box-sizing: border-box; }
  .person-card__name {
    display: block;
    margin-bottom: 10px;
    font-size: 24px; }
  .person-card__description {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: initial;
    color: #777777; }
  .person-card__text {
    margin-bottom: 0;
    font-size: 14px;
    color: #777777;
    font-weight: normal;
    line-height: 2em;
    letter-spacing: 0.5px;
    text-transform: initial; }

.blog {
  width: 750px;
  padding-bottom: 100px; }
  .blog .load-more-btn {
    margin: 0 auto;
    margin-top: 35px; }
  .blog__card-image {
    height: 250px;
    background: #e1e1e1; }
    .blog__card-image img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: 50% 50%;
         object-position: 50% 50%; }
  .blog__card-content {
    padding: 23px;
    padding-right: 30px;
    padding-left: 45px; }
  .blog .card-tag {
    margin: 35px 45px;
    margin-bottom: 0; }
  .blog__card-title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: normal;
    text-transform: initial;
    line-height: 1.5em; }
  .blog__card-author {
    font-size: 13px;
    color: #cccccc;
    text-transform: initial; }
  .blog__card-text, .blog__card-date {
    font-size: 14px;
    padding-top: 10px;
    color: #777777;
    font-weight: normal;
    text-transform: initial;
    line-height: 1.7em;
    letter-spacing: 0.5px; }
  .blog__card-date {
    position: relative;
    padding-right: 70px;
    bottom: 10px;
    padding-left: 6px; }
  .blog .card-share-btn,
  .blog .card-like-btn {
    position: relative;
    display: inline-block;
    background: none;
    top: -8px;
    width: 35px;
    height: 35px;
    border: none;
    transition: 0.3s; }
    .blog .card-share-btn:focus,
    .blog .card-like-btn:focus {
      outline: none; }
    .blog .card-share-btn svg,
    .blog .card-like-btn svg {
      fill: #777777; }
      .blog .card-share-btn svg:hover,
      .blog .card-like-btn svg:hover {
        fill: #4a4a4a; }
  .blog .card-like-btn svg:active {
    fill: red; }
  .blog__card {
    width: 360px;
    margin-bottom: 30px;
    background: white;
    box-sizing: border-box;
    transition: 0.5s; }
    .blog__card:active {
      transform: scale(1.1); }
    .blog__card--img-hover {
      position: relative; }
      .blog__card--img-hover .blog__card-image {
        height: 330px; }
      .blog__card--img-hover .blog__card-title {
        color: white; }
      .blog__card--img-hover .blog__card-content {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        color: white;
        transition: 0.3s; }
      .blog__card--img-hover .blog__card-text {
        color: white; }
      .blog__card--img-hover .card-tag {
        margin: 10px 0;
        margin-top: 20px; }
      .blog__card--img-hover:hover .blog__card-content {
        opacity: 1; }
  @media (max-width: 1100px) {
    .blog {
      max-width: 400px; }
      .blog__adaptive-wrapper {
        height: 1350px;
        overflow: hidden; } }
  @media (max-width: 770px) {
    .blog {
      max-width: 100%;
      padding-bottom: 40px; }
      .blog__card {
        width: 100%; }
      .blog__adaptive-wrapper {
        height: 1320px;
        overflow: hidden; } }

.sidebar {
  width: 360px;
  margin-left: 30px; }
  .sidebar__title {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    background: #e2e2e2;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.5em; }
    .sidebar__title:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: #e2e2e2;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%) rotate(45deg); }
  .sidebar svg {
    position: absolute;
    top: 11px;
    left: 11px;
    fill: white; }
    .sidebar svg:active {
      fill: #777777; }
  @media (max-width: 1100px) {
    .sidebar {
      margin-left: 0;
      width: 400px; } }
  @media (max-width: 770px) {
    .sidebar {
      width: 100%; } }

.recent-posts {
  background: white;
  margin-bottom: 25px; }
  .recent-posts__list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 25px;
    padding-right: 10px;
    padding-bottom: 5px; }
  .recent-posts__item {
    height: 65px;
    margin-bottom: 25px; }
    .recent-posts__item:hover {
      background: #f6f6f8; }
  .recent-posts__link {
    color: black; }
    .recent-posts__link:active {
      color: #777777; }
  .recent-posts__image {
    display: inline-block;
    width: 90px;
    height: 65px;
    margin-right: 10px;
    float: left;
    background-color: #e1e1e1; }
  .recent-posts__description {
    font-size: 16px;
    font-weight: 700;
    text-transform: initial; }
  .recent-posts__date {
    display: block;
    font-size: 14px;
    padding-top: 10px;
    color: #777777;
    font-weight: normal;
    text-transform: initial;
    line-height: 1.7em;
    letter-spacing: 0.5px; }

.popular-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-left: 20px;
  margin-bottom: 40px;
  background: white; }
  .popular-tags .sidebar__title {
    margin-bottom: 35px;
    margin-left: -20px;
    width: 120%; }
  .popular-tags .card-tag {
    display: inline-block;
    margin: 6px 3px; }

.instagram {
  width: 100%;
  padding-bottom: 20px;
  background-color: white; }
  .instagram__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px; }
  .instagram__img {
    width: 100px;
    height: 80px;
    margin: 3px;
    background: #e1e1e1; }

.office-info {
  padding: 80px 0;
  background: white; }
  .office-info .container {
    display: flex;
    justify-content: space-between; }
  .office-info__content {
    max-width: 395px; }
  .office-info__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 5px; }
  .office-info__description, .office-info__text,
  .office-info b {
    color: #4a4a4a;
    font-size: 16px;
    text-transform: initial; }
  .office-info__text {
    display: block;
    margin-bottom: 30px;
    color: #777777; }
  .office-info__number {
    display: block;
    margin-bottom: 10px;
    color: #4a4a4a;
    font-weight: bold; }
  .office-info b {
    color: black; }
  .office-info hr {
    width: 60px;
    background: black;
    margin-top: 20px;
    margin-bottom: 40px; }
  .office-info__form {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  @media (max-width: 800px) {
    .office-info {
      padding: 40px 0; }
      .office-info .container {
        display: block; }
      .office-info__title {
        font-size: 25px; }
      .office-info__text, .office-info__description,
      .office-info b, .office-info__number {
        font-size: 14px;
        margin-bottom: 15px; }
      .office-info hr {
        margin-bottom: 30px; }
      .office-info__content, .office-info__form {
        width: calc(100% - 40px);
        margin: 0 20px; }
      .office-info__form {
        margin-top: 30px; }
        .office-info__form .text-input,
        .office-info__form .email-input {
          margin-bottom: 10px;
          width: 100%; }
        .office-info__form .submit-btn {
          margin: 0 auto; } }

.map {
  position: relative;
  height: 360px;
  width: 100%;
  background: url("../img/map.jpg") 50% 50% no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
  .map__location {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 330px;
    padding-top: 25px;
    padding-bottom: 10px;
    background: white;
    text-align: center; }
    .map__location::before {
      content: "";
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 0;
      height: 0;
      border-top: 40px solid white;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent; }
  .map__title, .map__text {
    display: block;
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: lighter; }

.our-values {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center; }
  .our-values__text {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
    color: #777777;
    text-transform: initial;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    letter-spacing: 0.5px; }
  .our-values__card {
    width: 350px; }
    .our-values__card .our-values__text {
      width: 100%;
      padding: 35px 0;
      text-align: start; }
  .our-values__card-img {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background: url("../img/card-bg-11.jpg") 50% 50% no-repeat;
    background-size: cover; }
    .our-values__card-img--second {
      background: url("../img/card-bg-12.jpg") 50% 50% no-repeat;
      background-size: cover; }
    .our-values__card-img--third {
      background: url("../img/card-bg-5.jpg") 50% 50% no-repeat;
      background-size: cover; }
  @media (max-width: 770px) {
    .our-values__text {
      width: 100%; }
    .our-values__card {
      margin: 0 190px; } }
  @media (max-width: 450px) {
    .our-values__text {
      width: 90%; } }

.article {
  text-align: center; }
  .article .title {
    margin-bottom: 0;
    text-align: center;
    font-weight: normal;
    letter-spacing: 5px; }
  .article__author, .article__date, .article__like {
    padding: 25px;
    color: #777777;
    font-size: 14px;
    text-transform: initial; }
  .article__like {
    display: inline-block; }
    .article__like-btn {
      position: relative;
      background: none;
      border: none;
      outline: none;
      top: 2px; }
      .article__like-btn svg {
        fill: #4a4a4a; }
        .article__like-btn svg:hover {
          fill: #777777; }
        .article__like-btn svg:active {
          fill: red; }
  .article__img {
    width: 100%;
    height: 480px;
    margin-bottom: 45px;
    background: url(../img/card-bg-12.jpg) 50% 50% no-repeat;
    background-size: cover; }
  .article__text {
    margin-left: 65px;
    margin-right: 70px;
    margin-bottom: 35px;
    text-align: start;
    color: #777777;
    font-size: 14px;
    text-transform: initial;
    line-height: 2.5em; }
  .article__main-text {
    padding: 30px;
    padding-left: 40px;
    margin-bottom: 50px;
    border: 1px solid #e1e1e1;
    border-left: 5px solid #e1e1e1;
    color: #777777;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    text-align: start;
    text-transform: initial;
    line-height: 2em;
    box-sizing: border-box; }
  .article__title {
    text-align: left;
    margin-left: 65px; }
  @media (max-width: 770px) {
    .article .title {
      font-size: 22px; } }
  @media (max-width: 450px) {
    .article .title {
      font-size: 18px;
      letter-spacing: 4px;
      line-height: 1.5em;
      margin-bottom: 10px;
      margin-top: 30px; }
    .article__author, .article__date, .article__like {
      padding: 10px;
      margin-bottom: 20px; }
    .article__img {
      height: 300px; }
    .article__text {
      margin-left: 25px;
      margin-right: 20px;
      margin-bottom: 20px; }
    .article__main-text {
      padding: 20px;
      padding-left: 40px;
      margin-bottom: 50px;
      color: #4a4a4a;
      font-size: 16px;
      font-style: italic;
      font-weight: normal;
      text-align: start;
      text-transform: initial;
      line-height: 2em;
      box-sizing: border-box; } }

.comment-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 80px; }
  .comment-form .sub-title {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center; }
  .comment-form .text-input,
  .comment-form .email-input,
  .comment-form .site-input {
    width: 31%; }
  .comment-form .submit-btn {
    margin: 0 auto; }
  @media (max-width: 450px) {
    .comment-form {
      padding: 20px;
      padding-bottom: 40px; }
      .comment-form .text-input,
      .comment-form .email-input,
      .comment-form .site-input {
        margin-bottom: 10px;
        width: 100%; }
      .comment-form .sub-title {
        margin-bottom: 20px; } }
