.wrapper{
    background: #fdfcfa url("img/content-texture.jpg");
}

main.feature {
    color: black;
    margin-bottom: 50px;
}

.breadcrumbs{
    margin-bottom: 40px;
}

.feature .content-block {
    display: flex;
    justify-content: space-between;
}

.product-gallery .big-img {
    width: 460px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 460px 500px;
    margin-bottom: 22px;
    box-shadow: 0 0 10px 0px lightgray;
}

.product-gallery .small-img {
    display: inline-block;
    width: 140px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 140px 150px;
    margin-right: 16px;
    box-shadow: 0 0 10px 0px lightgray;
}

.product-gallery .small-img:nth-of-type(4) {
    margin-right: 0;
}

.product-info {
    max-width: 380px;
}

.product-description {
    margin-bottom: 60px;
}

.product-description header {
    padding-bottom: 20px;
}

.product-description header span {
    display: inline-block;
}

.product-description header .product-number {
    margin-left: 150px;
    color: #aba9a7;
}

.product-description p {
    margin-bottom: 35px;
}

.product-description footer {
    display: flex;
    justify-content: flex-start;
}

.product-description footer span {
    display: block;
    width: 110px;
    padding: 12px 0;
    align-self: baseline;
    text-align: center;
    background-color: #e5e5e5;
    list-style: none;
}

.product-description footer .btn {
    display: block;
    width: 78px;
    padding: 13px 0;
    margin: 0;
    list-style: none;
}

.product-includes ul {
    padding-left: 20px;
}

.product-includes li {
    position: relative;

}

.product-includes li::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: black;
    transform: scale(1) translate(-100%, -50%) rotate(45deg);
    left: -10px;
    top: 50%;
}



