@font-face {
    font-family: "pt sans narrow";
    src: url("fonts/ptsansnarrow.woff") format("woff"),
         url("fonts/ptsansnarrow.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pt sans narrow bold";
    src: url("fonts/ptsansnarrowbold.woff") format("woff"),
         url("fonts/ptsansnarrowbold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "pt sans narrow", "arial";
    color: white;
    background: black;
    text-transform: uppercase;  
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {    
    display: block;    

    width: 118px;    
    margin-bottom: 10px;    
    padding: 11px;    
    border: none;

    text-decoration: none;
    text-transform: uppercase;  
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 22px;

    background: black;
    color: white;

    box-sizing: content-box;
}

.btn:hover {
    background: #663d15;
}

label {
    position: relative;
}

.input {
    width: 108px;
    border: 3px solid black;
    padding: 13px;
    
    font-size: 14px;
    font-family: "pt sans narrow", "arial";
    text-transform: uppercase;    
    font-weight: bold;
    
    color: black;
}

.input:focus,
.input:active{
    border: 3px solid #663d15;
    outline:none;
}

input::placeholder {
    color: black;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
    display:none;
}

.checkbox .decor,
.radio .decor {
    display: inline-block;
    position: relative;
    min-width: 16px;
    height: 16px;
    border:2px solid black;
    vertical-align: middle;
}

.checkbox input[type="checkbox"]:checked + .decor {
    display: inline-block;
    background-image: url("img/checkbox.png");
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 2px 2px;
}

.radio .decor {    
    border-radius: 50%;
}

input[type="radio"]:checked + .decor::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

label:hover {
    color: #663d15;
}

.radio input[type="radio"]:disabled + .decor,
.radio input[type="radio"]:disabled ~ span,
.checkbox input[type="checkbox"]:disabled + .decor,
.checkbox input[type="checkbox"]:disabled ~ span {
    opacity: 0.5;
}

.radio span:nth-of-type(2),
.checkbox  span:nth-of-type(2) {
    display: inline-block;
    padding-left: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

a, p, span, h4, li {
    text-decoration: none;
    font-weight: bold; 
    font-size: 14px;
    line-height: 24px;
}

ul {
    list-style: none;
}

.main-header {
    background: black;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.main-navigation .header-logo {
    width: 140px;
    height: 70px;
    background-image: url("img/Logo-header.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 120px 25px;
    margin-top: 5px;
}

.main-navigation ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-navigation a {
    padding: 28px 20px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main-navigation a:hover {
    background: #242424;
}

.main-navigation a.active { 
    position: relative;
}

.main-navigation a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% - 40px);
    height: 4px;
    margin-left: -27%;
    background: white;
    
}

.main-navigation a.sign-in {
    position: relative;
    padding-left: 31px;
}

.main-navigation a.sign-in::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("img/.icon-login.png");
    background-repeat: no-repeat;
    width: 17px;
    height: 16px;
    left: 0;
    top: 50%;
    margin-top: -8px;
}

.breadcrumbs{
    margin-bottom: 20px;
}

.breadcrumbs a {
    position: relative;
    color: black;
    padding-right: 40px;
}

.breadcrumbs a::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: black;
    transform: scale(1) translate(0, -50%) rotate(45deg);
    right: 15px;
    top: 50%;
}

.breadcrumbs a:last-of-type {
    color: #aba9a7;
}

.breadcrumbs a:last-of-type::after {
    display: none;
}

.main-footer {
    background: #242424;
    color: white;
    line-height: 24px;
    background-image: url("img/footer.png");
}

.main-footer a {
    color: white;
}

.main-footer .container {
    display: flex;
    padding: 46px 10px;
}

.main-footer .container-info {
    display: flex;
    flex-direction: column;
}

.social-clubs {
    text-align: center;
    margin-left: 12%;
}

.social-clubs .socials {
    display: flex;
    justify-content: space-between;
    width: 141px;
    margin-top: 18px;
}

.social-clubs .socials a {
    position: relative;
    display: block;   
    height: 43px;
    width: 43px;
    background-color: black;    
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.socials a:hover {
    background-color: white;
}

.socials a.vk {
    background-image: url("img/vk.png");
}

.socials a.vk:hover {
    background-image: url("img/vk-black.jpg");
}

.socials a.fb {
    background-image: url("img/fb.png");
}

.socials a.fb:hover {
    background-image: url("img/fb-black.jpg");
}

.socials a.inst {
    background-image: url("img/inst.png");
}

.socials a.inst:hover {
    background-image: url("img/inst-black.jpg");
}

.info-developer {
    text-align: center;
    margin-left: auto
}

.info-developer a {
    text-align: center;
    margin-top: 18px;
} 

.info-developer a:hover {
    background: white;
    color: black;
}

.underline:hover {
    text-decoration: underline;
}

.log-in-form {
    position: fixed;
    width: 300px;
    height: 350px;
    padding: 25px 80px;
    background: white;
    top: 120px;
    left: 50%;
    margin-left: -230px;
    color:black;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.7);
}

.log-in-form input[type="text"],
.log-in-form input[type="password"] {
    padding-right: 50px;
    width: 231px;
    margin-bottom: 9px;
}

.log-in-form input[type="text"] {
    background-image: url("img/login.jpg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 265px 12px;
}

.log-in-form input[type="password"] {
    background-image: url("img/password.jpg");
    background-repeat: no-repeat;
    background-size: 16px 18px;
    background-position: 265px 12px;
}

.log-in-form a {
    display: inline;   
    color: black; 
    text-decoration: underline;
}

.checkbox-wrapper {
    display: flex;
    justify-content: space-between;
}

.log-in-form .btn {
    margin-top: 17px;
    width: 278px;  
}

.map { 
    position: fixed;
    width: 766px;
    height: 560px;
    bottom: 20%;
    left: 50%;
    margin-left: -390px;
    background-image: url("img/map.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 7px solid white;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.7);
}

.close-btn {
    position: absolute;
    display: block;
    top: 10px;
    right: -35px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    border: none;
    background-size: 22px 22px;
    outline: none;
    cursor: pointer;
}

.close-btn::before,
.close-btn::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 5px;
    background: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::before{
    transform: translate(-50%, -50%) rotate(135deg);
}

.one-line-text{ 
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: unset;
}

.pagination {
    display: flex;
}

.pagination a {
    width: 23px;
    margin-right: 7px;
}

.pagination a.active {
    background-color: white;
    color: black;
}