/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

@font-face {
  font-family: "BigNoodleTitling";
  src: url("../fonts/big_noodle_titling.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf") format("opentype");
  font-weight: 100;
  font-style: normal; }

body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #3d3d3d; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  -o-object-fit: cover;
     object-fit: cover; }

a {
  text-decoration: none; }

input, textarea, button {
  background: none;
  border: none;
  resize: none; }
  input:focus, textarea:focus, button:focus {
    outline: none; }

h1, h2, h3, p {
  margin: 0; }

.input {
  width: 100%;
  padding: 10px 0;
  color: #696969;
  border-bottom: 1px solid #d6d5d5; }
  .input:focus + .input-text {
    transform: translate(-4px, -25px) scale(0.8); }

.input-wrapper {
  position: relative;
  display: inline-block; }

.input-text {
  position: absolute;
  left: 0px;
  top: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #696969;
  transition: 0.3s; }
  .input-text:before {
    content: "*";
    display: block;
    position: absolute;
    top: -2px;
    right: -10px;
    color: #e84c3d; }
  .input-text.top {
    transform: translate(-4px, -25px) scale(0.8); }
    .input-text.top:before {
      display: none; }

.main-title {
  font-family: "BigNoodleTitling", sans-serif;
  text-align: center;
  font-size: 72px;
  letter-spacing: 0.1em;
  margin-bottom: 25px; }

.title {
  position: relative;
  display: inline-block;
  font-family: "BigNoodleTitling", sans-serif;
  margin-bottom: 25px;
  font-size: 48px;
  letter-spacing: 0.1em; }
  .title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-52%, 0);
    width: 90%;
    height: 2px;
    background: #e84c3d; }
  .title--light {
    font-weight: normal;
    font-size: 40px;
    color: #f8f6f6; }
    .title--light:before {
      bottom: -10px;
      width: 85px;
      height: 1px;
      background: #353535; }

.text {
  margin: 0 auto;
  text-align: center;
  max-width: 550px;
  font-size: 14px;
  color: #696969;
  text-transform: initial;
  line-height: 24px; }
  .text--light {
    color: #d6d5d5; }

.button {
  padding: 15px 40px;
  font-size: 14px;
  color: white;
  background: #e84c3d;
  font-weight: bold;
  text-transform: uppercase; }
  .button:hover {
    -webkit-filter: brightness(0.9);
            filter: brightness(0.9); }
  .button:active {
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7); }

.prev,
.next {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  width: 20px;
  height: 40px; }
  .prev:before, .prev:after,
  .next:before,
  .next:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    top: 0;
    right: 0;
    background: #787474;
    transform: rotate(45deg) translate(-11px, 4px); }
  .prev:after,
  .next:after {
    top: 50%;
    transform: rotate(-45deg) translate(-4px, -11px); }

.next {
  left: auto;
  right: 10px; }
  .next:before, .next:after {
    transform: rotate(-45deg) translate(-1px, -8px); }
  .next:after {
    transform: rotate(45deg) translate(-8px, 2px); }

.socials {
  display: flex;
  justify-content: space-between;
  width: 70px;
  margin: 0 auto; }
  .socials__link {
    display: inline-block;
    width: 20px;
    height: 30px; }
  .socials__icon {
    fill: #696969;
    width: 15px;
    height: 12px; }

.owl-dot span {
  background: #d6d5d5 !important; }

.owl-dot.active span {
  background: #696969 !important; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0.7;
  z-index: 4; }
  .overlay.open {
    display: block; }

@media (max-width: 900px) {
  .main-title {
    font-size: 57px; }
  .title {
    font-size: 45px; }
    .title--light {
      font-size: 37px; } }

@media (max-width: 600px) {
  .input:focus + .input-text {
    transform: translate(0, -10px); }
  .main-title {
    font-size: 45px; }
  .title {
    font-size: 35px; }
    .title--light {
      font-size: 34px; } }

.container {
  max-width: 1005px;
  margin: 0 auto; }
  @media (max-width: 1100px) {
    .container {
      margin: 0 40px; } }
  @media (max-width: 620px) {
    .container {
      margin: 0 20px; } }

.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 25px 0;
  background: #f8f6f6;
  transition: 0.4s;
  z-index: 2; }
  .main-header.out {
    transform: translate(0, -150px); }
  .main-header__link {
    display: flex;
    align-items: center; }
  .main-header__logo {
    width: 30px;
    height: 40px;
    margin-right: 20px;
    fill: #e84c3d; }
  .main-header__logo-text {
    font-family: "BigNoodleTitling", sans-serif;
    font-size: 40px;
    color: #696969;
    letter-spacing: 2px; }
  .main-header .container {
    display: flex;
    justify-content: space-between; }
  @media (max-width: 900px) {
    .main-header {
      padding: 15px 0; }
      .main-header__logo-text {
        font-size: 35px; } }
  @media (max-width: 600px) {
    .main-header__logo-text {
      font-size: 27px; } }

.main-nav__list {
  position: absolute;
  display: block;
  bottom: 0px;
  right: -100vw;
  transform: translate(0, 100%);
  width: 100vw;
  background: #f8f6f6;
  transition: 0.3s;
  box-shadow: inset 0 10px 10px -15px #787474; }
  .main-nav__list.open {
    right: 0; }

.main-nav__item:hover {
  background: #ebebeb; }

.main-nav__link {
  padding: 20px 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #696969;
  box-sizing: border-box; }
  .main-nav__link.active {
    color: #3d3d3d; }

.main-nav__burger {
  position: relative;
  display: block;
  transform: translate(0, -50%);
  margin-top: 20px;
  width: 35px;
  height: 22px;
  border-top: 2px solid #3d3d3d;
  border-bottom: 2px solid #3d3d3d;
  transition: 0.3s;
  cursor: pointer; }
  .main-nav__burger:before, .main-nav__burger:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 35px;
    height: 2px;
    background: #3d3d3d;
    transition: 0.3s; }
  .main-nav__burger.cross {
    background: transparent;
    border: transparent; }
    .main-nav__burger.cross.main-nav__burger:before {
      transform: scale(0.9) translate(0, 0) rotate(45deg); }
    .main-nav__burger.cross.main-nav__burger:after {
      transform: scale(0.9) translate(0, 0) rotate(-45deg); }

@media (max-width: 600px) {
  .main-nav__burger {
    transform: scale(0.9);
    margin-top: 10px; }
  .main-nav__link {
    padding: 15px 0; } }

.main-footer {
  padding: 50px 0;
  background: #171f23;
  text-align: center;
  color: white; }
  .main-footer__logo {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 40px;
    fill: #e84c3d; }
  .main-footer__logo-text {
    display: block;
    margin: 5px auto;
    font-family: "BigNoodleTitling", sans-serif;
    font-size: 40px;
    letter-spacing: 2px; }
  .main-footer__tagline {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; }
  .main-footer .socials__icon {
    fill: white; }
  @media (max-width: 600px) {
    .main-footer {
      padding: 40px 0; }
      .main-footer__logo-text {
        font-size: 30px; }
      .main-footer__tagline {
        font-size: 14px; } }

.intro {
  width: 100%;
  height: 100vh;
  background: #353535 url("../img/intro-bg.jpg") 0% 100% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #d6d5d5; }
  .intro .container {
    text-align: center; }
  .intro__text {
    font-family: "BigNoodleTitling", sans-serif;
    font-size: 36px;
    letter-spacing: 0.1em; }
  @media (max-width: 600px) {
    .intro__text {
      font-size: 24px; } }

.about {
  padding: 90px 0;
  text-align: center;
  background: white;
  position: relative; }
  .about .text {
    margin-bottom: 55px; }
  .about__inner {
    display: flex;
    justify-content: space-between; }
  .about__card {
    max-width: 320px;
    margin: 0 10px;
    margin-bottom: 30px;
    padding: 30px;
    padding-bottom: 25px;
    box-sizing: border-box;
    background: #ebebeb;
    color: #696969; }
  .about__icon {
    display: block;
    fill: #e84c3d;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px; }
  .about__card-title {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold; }
  .about__card-text {
    font-size: 14px;
    height: 30px;
    width: 100%;
    text-transform: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  @media (max-width: 900px) {
    .about {
      padding: 60px 0; }
      .about__card-title {
        font-size: 16px; } }
  @media (max-width: 720px) {
    .about {
      padding: 60px 0; }
      .about .text {
        margin-bottom: 0; }
      .about__inner {
        display: block; }
      .about__card {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 30px; }
      .about__card-text {
        width: auto;
        max-width: 300px;
        margin: 0 auto; } }

.process {
  display: flex;
  font-size: 0;
  background: #171f23; }
  .process__content, .process__video-inner {
    display: inline-block;
    width: 50%;
    height: auto; }
  .process__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 80px;
    color: #d6d5d5;
    text-align: center;
    box-sizing: border-box; }
  .process__title {
    font-size: 30px;
    margin-bottom: 25px; }
  .process .text {
    margin-bottom: 40px;
    line-height: 18px; }
  .process__video-inner {
    position: relative; }
  .process__video {
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.7; }
  .process__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white; }
  @media (max-width: 900px) {
    .process {
      display: block; }
      .process__content, .process__video-inner {
        width: 100%; }
      .process__content {
        padding: 70px; } }
  @media (max-width: 720px) {
    .process__content {
      padding: 50px; }
    .process__title {
      font-size: 25px; } }

.works {
  padding-top: 70px;
  text-align: center; }
  .works .text {
    margin-bottom: 85px; }
  .works__filter {
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 630px;
    display: flex;
    justify-content: space-between; }
  .works__filter-button {
    color: #3d3d3d;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 0; }
    .works__filter-button.active {
      font-weight: bold;
      border-bottom: 1px solid #e84c3d; }
  .works__inner {
    max-height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    overflow: hidden; }
  .works__item {
    background: #171f23;
    height: 200px; }
  @media (max-width: 720px) {
    .works .text {
      margin-bottom: 50px; }
    .works__filter-button {
      font-size: 12px; } }
  @media (max-width: 600px) {
    .works__filter {
      margin: 0;
      flex-wrap: wrap;
      justify-content: space-around; }
    .works__filter-button {
      margin: 0 20px;
      margin-bottom: 20px; } }

.tools {
  background: #1c1c1c url("../img/intro-bg.jpg") 50% 100% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 20px; }
  .tools .container {
    position: relative; }
  .tools__slider {
    width: 80% !important;
    margin: 0 auto;
    padding-top: 20px; }
  .tools .prev {
    left: -60px; }
  .tools .next {
    right: -55px; }
  .tools__slide {
    display: block;
    width: 220px;
    height: 220px;
    margin: 0 auto;
    padding-top: 90px;
    box-sizing: border-box; }
  .tools__icon {
    display: block;
    width: 225px;
    height: 40px;
    margin: 0 auto;
    fill: #f8f6f6; }
    .tools__icon--river {
      height: 65px; }
    .tools__icon--videohive {
      height: 45px;
      margin-top: -5px; }
  .tools .owl-theme .owl-nav {
    height: 0; }

.team {
  padding-top: 75px;
  padding-bottom: 100px;
  text-align: center; }
  .team .text {
    margin-bottom: 80px; }
  .team__inner {
    display: flex;
    justify-content: space-between; }
  .team__person {
    width: 32%;
    padding: 70px 30px;
    background: #ebebeb;
    text-align: center;
    box-sizing: border-box; }
  .team__person-image img {
    width: 135px !important;
    height: 135px;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 50%;
    background: #e84c3d;
    overflow: hidden; }
  .team__person-name {
    font-size: 20px;
    font-weight: bold; }
  .team__person-function {
    display: block;
    font-size: 14px;
    margin-bottom: 15px; }
  .team .socials {
    margin-bottom: 10px; }
  .team__skills {
    width: 65%;
    padding: 90px 60px 50px 50px;
    background: #ebebeb;
    box-sizing: border-box;
    text-align: left; }
    .team__skills .text {
      text-align: left;
      margin-bottom: 35px; }
  .team__skills-title {
    margin-bottom: 20px;
    font-size: 24px; }
  .team__skills-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
  .team__skills-name {
    display: inline-block;
    width: 130px;
    font-size: 14px;
    font-weight: bold; }
  .team__skills-decor {
    position: relative;
    display: block;
    width: 68%;
    height: 2px;
    margin-right: 15px;
    background: linear-gradient(to right, #e84c3d 88%, white 88%); }
    .team__skills-decor--illustrator {
      background: linear-gradient(to right, #e84c3d 92%, white 92%); }
    .team__skills-decor--sketch {
      background: linear-gradient(to right, #e84c3d 90%, white 90%); }
    .team__skills-decor--after-effects {
      background: linear-gradient(to right, #e84c3d 98%, white 98%); }
  .team__skills-percent {
    font-size: 14px; }
  @media (max-width: 800px) {
    .team {
      padding: 60px 0; }
      .team .text {
        margin-bottom: 40px; }
      .team__inner, .team__person, .team__skills {
        display: block;
        width: 100%; }
      .team__person {
        margin-bottom: 20px;
        padding: 50px; }
      .team__skills {
        padding: 50px; }
      .team__person-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left; }
      .team__person-image img {
        margin-right: 20px;
        margin-bottom: 0; }
      .team__person-name {
        display: inline-block;
        margin-bottom: 15px; }
      .team .socials {
        margin: 0; }
      .team .owl-theme .owl-nav {
        height: 0; }
      .team .prev {
        left: -10px; }
      .team .next {
        right: -10px; } }
  @media (max-width: 500px) {
    .team__burger {
      transform: scale(0.9);
      margin-top: 10px; }
    .team__link {
      padding: 15px 0; }
    .team__skills, .team__person {
      padding: 30px; }
    .team__person-image img {
      width: 120px !important;
      height: 120px; }
    .team__skills-item {
      flex-wrap: wrap; }
    .team__skills-name {
      display: block;
      width: 100%; }
    .team__skills-decor {
      display: block;
      width: 80%;
      margin-right: auto; } }

.features {
  padding: 60px 0;
  background: #171f23;
  text-align: center; }
  .features .title {
    margin-bottom: 45px; }
  .features__list {
    display: flex;
    justify-content: space-between; }
  .features__icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    fill: #e84c3d;
    width: 50px;
    height: 50px; }
  .features__text {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #d6d5d5;
    font-weight: 300;
    text-transform: capitalize; }
  .features__number {
    font-size: 48px;
    color: #d6d5d5;
    font-weight: 300; }
  @media (max-width: 900px) {
    .features__number {
      font-size: 40px; } }
  @media (max-width: 600px) {
    .features {
      padding-bottom: 30px; }
      .features__list {
        flex-wrap: wrap; }
      .features__item {
        width: 50%;
        margin-bottom: 30px; }
      .features__icon, .features__text {
        margin-bottom: 10px; } }

.blog {
  padding-top: 70px;
  padding-bottom: 110px;
  text-align: center; }
  .blog__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 70px; }
  @media (max-width: 900px) {
    .blog {
      padding-bottom: 20px; } }

.article {
  position: relative;
  width: 32%;
  height: 420px;
  background: #ebebeb;
  text-align: start; }
  .article__image {
    width: 100%;
    height: 220px;
    background: #ebebeb url("../img/card-bg-3.jpg") 50% 50% no-repeat;
    background-size: cover;
    transition: 0.3s; }
    .article__image--second {
      background: #ebebeb url("../img/card-bg-14.jpg") 50% 50% no-repeat;
      background-size: cover; }
    .article__image--third {
      background: #ebebeb url("../img/card-bg-9.jpg") 50% 50% no-repeat;
      background-size: cover; }
    .article__image:hover {
      -webkit-filter: brightness(0.5);
              filter: brightness(0.5); }
  .article__link, .article__look {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 85px;
    left: 38%;
    transform: translate(-50%, 0);
    background: #e84c3d;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s; }
  .article__look {
    left: auto;
    right: 38%;
    transform: translate(50%, 0);
    background: white; }
  .article__link-icon {
    display: block;
    fill: white;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    margin-top: 10px; }
  .article__look-icon {
    display: block;
    fill: #e84c3d;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    margin-top: 10px; }
  .article__image:hover ~ .article__link,
  .article__image:hover ~ .article__look {
    opacity: 1; }
  .article__link:hover, .article__look:hover {
    opacity: 1; }
  .article__link:active, .article__look:active {
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5); }
  .article__content {
    padding: 25px;
    padding-top: 35px;
    padding-bottom: 50px; }
  .article__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize; }
  .article__text {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; }
  .article__footer {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    font-size: 10px;
    font-weight: 400;
    color: #696969;
    text-transform: initial;
    box-sizing: border-box; }
  .article__like {
    margin-left: auto;
    margin-right: 10px; }
  .article__date-icon, .article__like-icon, .article__comment-icon {
    margin-bottom: -3px;
    width: 13px;
    height: 13px;
    fill: #696969; }
  @media (max-width: 940px) {
    .article {
      margin: 0 auto;
      width: 300px; } }
  @media (max-width: 400px) {
    .article {
      width: 280px; } }

.plans {
  padding-top: 50px;
  padding-bottom: 90px;
  background: #171f23;
  text-align: center; }
  .plans .title {
    margin-bottom: 50px; }
  .plans__inner {
    display: flex;
    justify-content: center; }
  @media (max-width: 900px) {
    .plans {
      padding: 50px;
      padding-bottom: 20px; }
      .plans .prev {
        left: -20px; }
      .plans .next {
        right: -20px; } }

.plan {
  width: 230px;
  margin: 0 1px;
  background: #1f282c;
  color: #d6d5d5;
  transition: 0.2s;
  box-sizing: border-box; }
  .plan__header {
    padding: 35px 0;
    background: #0e1316; }
  .plan__title {
    font-size: 14px;
    margin: 5px 0;
    letter-spacing: 1px; }
  .plan__price {
    font-size: 36px;
    font-weight: 300;
    text-transform: initial; }
  .plan__list {
    padding: 45px 0; }
  .plan__item {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px; }
  .plan__item-text {
    font-weight: 300;
    text-transform: capitalize; }
  .plan .button {
    margin-top: 20px;
    margin-bottom: 45px;
    padding: 10px 30px; }
  .plan:hover {
    border: 2px solid #e84c3d; }
    .plan:hover .plan__item-number {
      color: #e84c3d; }
  @media (max-width: 900px) {
    .plan {
      margin: 0 auto; } }

.contact {
  padding: 80px 0;
  text-align: center; }
  .contact .text {
    margin-bottom: 85px; }
  .contact__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 770px;
    margin: 0 auto; }
  .contact .input-wrapper {
    margin-bottom: 50px;
    box-sizing: border-box; }
    .contact .input-wrapper:nth-of-type(1), .contact .input-wrapper:nth-of-type(2) {
      width: 48%; }
    .contact .input-wrapper:nth-of-type(3) {
      width: 100%; }
  .contact .button {
    display: block;
    margin: 0 auto; }
  @media (max-width: 600px) {
    .contact {
      padding: 60px 0; }
      .contact .input-wrapper {
        margin-bottom: 40px; } }
  @media (max-width: 400px) {
    .contact {
      padding: 60px 0; }
      .contact .input-wrapper:nth-of-type(1), .contact .input-wrapper:nth-of-type(2) {
        width: 100%; } }

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 500px;
  z-index: 5;
  background: #ebebeb;
  text-align: start; }
  .popup__image {
    width: 50%;
    height: 100%;
    background: #ebebeb url("../img/card-bg-3.jpg") 50% 50% no-repeat;
    background-size: cover; }
  .popup__content {
    position: relative;
    width: 50%;
    padding: 35px 25px;
    box-sizing: border-box; }
  .popup__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize; }
  .popup__text {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: initial; }
  .popup__footer {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    font-size: 10px;
    font-weight: 400;
    color: #696969;
    text-transform: initial;
    box-sizing: border-box; }
  .popup__like {
    margin-left: auto;
    margin-right: 10px; }
  .popup__date-icon, .popup__like-icon, .popup__comment-icon {
    margin-bottom: -3px;
    width: 13px;
    height: 13px;
    fill: #696969; }
  .popup.open {
    display: flex; }
  @media (max-width: 900px) {
    .popup {
      height: 450px;
      width: 95%; }
      .popup__image {
        width: 50%;
        height: 50%;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left; }
      .popup__content {
        width: 100%;
        height: 100%; }
      .popup.open {
        display: block; } }
  @media (max-width: 600px) {
    .popup {
      width: 95%;
      overflow-y: scroll;
      padding-bottom: 20px; }
      .popup__title {
        margin-bottom: 20px; }
      .popup__text {
        font-size: 12px;
        line-height: 20px; }
      .popup__footer {
        position: static;
        padding-top: 0; } }
  @media (max-width: 400px) {
    .popup {
      width: 100%;
      height: 400px; }
      .popup__image {
        width: 100%;
        height: 50%;
        float: none; } }
